body {
  font-family: 'Zilla Slab', serif;
  font-size: 22px;
}

link {
  text-decoration: none;
  color: #e0162b;
}

a: hover {
  color: #0052a5;
}

a: visied {
  color: #999;
}

.picture {
  width: 100%;
}

#opening {
  position: relative;
  text-align: center;
  color: white;
}

.headline {
  font-size:3.5em;
  font-family: 'Dosis', sans-serif;
  position: absolute;
  text-align: center;
  bottom: 30px;
  right: 2em;
}

.byline {
  font-size: 1.5em;
  font-family: 'Dosis', sans-serif;
  position: absolute;
  bottom: 10px;
  right: 3.5em;

}

#container {
  margin-left: 12em;
  margin-right: 12em;
}

.intro-text {
  font-family: 'Dosis', sans-serif;
  font-size: 1.5em;
  max-width: 800px;
  margin-top: 40px;
  margin-bottom: 25px;
  text-align: center;
  border-style: double;
  padding: 5px;
}

.lightgreen {
  color: #32CD32;
}

.footer {
  text-align: center;
  color: white;
  background-color: black;
  font-family: 'Dosis', sans-serif;
}

.footer-text{
  margin:0 auto;
  text-align: center;
}

p {
  text-align: left;
  line-height: 200%;
}

.caption {
 width:100%;
 max-width:900px;
 margin:0 auto;
 font-family: 'Zilla Slab', serif;
 font-size: 15px;
 color:#A9A9A9;
 padding-bottom: 15px;
 text-align: center;
}

.pullquote {
  font-family: 'Zilla Slab', serif;
  font-size: 1.25em;
  font-style: bold;
  text-align: 0 auto;
  border: double;
  border-color: black;
  padding: 10px;
}

.bg-dark {
 background:#000 !important;
}

ul.navbar-nav {
 margin-left:70%;
}

.navbar {
 font-family: 'Dosis', sans-serif;
}

.navbar-brand {
  color: white;
  font-size: 1.25em;
}

.graphic-container {
  text-align: center;
  font-family: 'Zilla Slab', serif;
  padding: 15px;
  padding-bottom: 25px;
}
